html {
    height: 100%; 
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px; 
}
.watch {
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 72px;
    top:50%;
    display: block;
    -moz-transition: all 1s 0.1s ease-in;
    -o-transition: all 1s 0.1s ease-in;
    -webkit-transition: all 1s 0.1s ease-in;
   
  }
  .watch:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }